@use "../../assets/style/variables" as v;

#header {
  display: flex;
  justify-content: space-between;
  margin: 20px 5% 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

#header.dark {
  border-bottom: 1px solid v.$color-primary;
  color: v.$color-primary;
}

#header.light {
  border-bottom: 1px solid v.$ui-white;
  color: v.$ui-white;
}
